menu "LiveKit Example"
    config LK_EXAMPLE_SPEAKER_VOLUME
        int "Default speaker volume (0-100%)"
        default 85
        range 0 100
        help
            Default speaker volume for audio playback.
endmenu
